#app {
  overflow-x: hidden;
  color: #fff;
  /*background: url(../image/bimg.svg), radial-gradient(farthest-side ellipse at 10% 0, #fff 20%, #99999b);*/
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}





.padding-top-zero {
  padding-top: 0px !important;
}

.padding-bottom-zero {
  padding-bottom: 0px !important;
}

.padding-zero {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.ex-small {
  font-size: 12px;
  height: 30px !important;
  width: 30px !important;
  padding: 0;
}


.vue-js-switch .v-switch-core .v-switch-button[data-v-25adc6c0] {
  display: block;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  border-radius: 100%;
  background-color: #fff;
  z-index: 1 !important;
}